.label {
  position: relative;
}

.input {
  width: 100%;
  margin-bottom: 30px;
  padding: 14px 10px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  transition: border $transition;
  &:hover {
    border: 2px solid rgba(white, 0.7);
  }
}

.error {
  border: 2px solid $error;

  &:hover {
    border: 2px solid rgba($error, 0.7);
  }
}

.errorValue {
  position: absolute;
  bottom: -37px;
  left: 0;
  color: $error;
  font-size: 13px;
}
