.section {
  width: 100%;
  max-width: $max-width;
  height: 100%;
  margin: 0 auto 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 240px));
  margin-bottom: 40px;
  column-gap: 33px;

  @include media('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('mobile') {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 35px;
  @include media('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('mobile') {
    grid-template-columns: 1fr;
  }
}

.csv {
  height: 47px;
  padding: 0;

  @include media('mobile') {
    height: 42px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
  }
}
