.form {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 320px;
}

.title {
  padding-bottom: 22px;
  font-weight: 900;
  text-align: center;
}

.loader {
  width: 16px;
  height: 16px;
  animation: icon infinite 1.5s linear;
  @include keyframesIcon();
}
