.section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto 0;
  padding: $spacer;
}

.title {
  font-weight: 900;
  font-size: 32px;
}

.button {
  color: white;
  font-weight: 900;
  font-size: 32px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity $transition;
  &:hover {
    opacity: 0.7;
  }
}
