.section {
  padding: $spacer;
  text-align: center;

  @include media('mobile') {
    padding: $spacer / 2;
  }
}

.link {
  color: $secondary;
  font-size: 17px;
  text-decoration: none;
  transition: all $transition ease-in;
  &:hover {
    color: rgba($secondary, 0.5);
  }
}
