@import './_mixin.scss';
@import './_media.scss';

// Fonts
$reserve-fonts: sans-serif;
$font-primary: 'Nunito Sans', $reserve-fonts;

// Colors
$primary: #282c34;
$secondary: #61dafb;
$success: #06c668;
$error: #d30000;

// Transition
$transition: 0.3s;

// Sizes
$max-width: 1024px;
$spacer: 20px;
